// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Parámetros principales
$primary-color : rgb(105, 189, 226);
$clear-primary-color : rgb(146,221,234);
$dark-primary-color : rgb(106,210,214);
$darker-primary-color : rgb(100,190,193);
$white : rgb(255,255,255);
$clear-gray : rgb(245,245,245);
$gray : rgb(198,198,198);
$dark-gray : rgb(145,145,145);
$red : rgb(212, 5, 5);

//MIXINS//
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
//MIXINS//

//ESTILOS GENERALES//
a{
    text-decoration: none !important;
    @include transition(all 0.4s ease);

    &:hover{
        text-decoration: none !important;
    }
}

body{
    background-color: $white;
}

.error{
    color: $red !important;
}

$custom-file-text: (
    en: "Browse",
    es: "Elegir"
);

/*NAVBAR*/
.navbar-homex{

    .navbar-brand {
        color: $primary-color;
        font-weight: bold;
        font-size: 24px;

        &:hover {
            color: $primary-color;
        }
    }

    a{
        font-size: 16px;
        @include transition(all 0.4s ease);

        &.nav-link{
            margin-left: 10px;
            padding: 0.2rem 3rem;
        }
        &.btn-publicar{
            background-color: $primary-color;
            color: $white !important;

            &:hover{
                background-color: $dark-primary-color;
                color: $white !important;
            }
        }
    }


}
/*NAVBAR*/

.tooltip-inner {
    color: $dark-gray;
    background-color: $clear-gray;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: $clear-gray;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $clear-gray;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $clear-gray;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: $clear-gray;
}

.btn-homex{
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    @include transition(all 0.4s ease);
    text-align: center;
    border: 0;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.accordion{
    .card-header{
        padding: 0;
    }

    .btn-homex{
        margin: 0;
        max-width: 100%;
    }
}
.btn-homex-primary{
    color: $primary-color;
    background-color: $white;
}
input.btn-homex-primary::placeholder{
    color: $primary-color;
}
.btn-homex-primary:not(input):hover, .btn-homex-primary:not(input):focus{
    color: $white;
    background-color: $clear-primary-color;
}
.btn-homex-primary-active{
    color: $white;
    background-color: $clear-primary-color;
}
.btn-homex-clear{
    background-color: $primary-color;
    color: $white;
}
.btn-homex-clear:not(input):hover, .btn-homex-clear:not(input):focus{
    color: $white;
    background-color: $dark-primary-color;
}
.btn-homex-clear-active{
    color: $white;
    background-color: $dark-primary-color;
}
.btn-homex-dark{
    background-color: $dark-primary-color;
    color: $white;
}
.btn-homex-dark:not(input):hover, .btn-homex-dark:not(input):focus{
    color: $white;
    background-color: $darker-primary-color;
}
.btn-homex-dark-active{
    color: $white;
    background-color: $clear-primary-color;
}

/*JUMBOTRON*/
.card-jumbotron{
    background-color: $primary-color;
    background: url(https://homex.test/image/banner-inicio.jpg) center 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    select.form-control, input.form-control {
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;

        &::placeholder{
            color: $primary-color;
        }
    }


    .easy-autocomplete{
        color: rgb(105, 189, 226);
    }

    .easy-autocomplete input{
        width: 100%;
        color: rgb(105, 189, 226);
        border: none;
        padding: 10px;
        outline: 0;
        border-radius: 0;
        text-transform: uppercase;
    }
}

/*JUMBOTRON*/

/*FOOTER*/
.card-footer{
    border: none;
    background-color: $clear-gray;

    .footer-col-wrapp{

        .footer-titulo{
            color: $primary-color;
            font-size: 32px;
        }
        .footer-subtitulo{
            color: $primary-color;
        }
        .footer-texto,a.footer-texto{
            color: $dark-gray;
            font-size: 13px;
        }

    }
}
.help-message-wrapp{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
    box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
    color: #aaa;
    width: 250px;

    .help-close-wrapp{
        position: absolute;
        right: 10px;
        top: 4px;
        border: 1px solid #ddd;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        cursor: pointer;
        z-index: 5;
    }

    .help-message-intro{
        padding-bottom: 10px;
    }
}
/*FOOTER*/

//ESTILOS GENERALES//


.card-properties{
    border: 0;
    margin: 0 auto;
    margin-bottom: 30px;

    color: rgb(87,87,87);
    .card-title{
        color: rgb(178,178,178);
        font-size: 15px;
    }
    .card-img-top{
        width: 100%;
        height: 25vw;
        min-height: 200px;
        object-fit: cover;
        max-height: 300px;
    }
    .card-property-price{
        color: rgb(106,210,214);
    }
    .btn-homex{
        margin: 20px 0 0 0;
    }

    .card-property-badges{
        position: absolute;
        top: 5px;
        right: 5px;

    }
}

.card-property-badge{
    display: inline-block;
    border-radius: 100%;
    background-color: $primary-color;
    width: 35px;
    height: 35px;

    img{
        width: 100%;
    }

}
.card-property-edit{
    position: absolute;
    left: 10%;
    top: 2%;
    background-color: #69bde2;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    padding-top: 6px;
}
.card-property-add{
    left: calc(10% + 40px);
}
/*BREADCRUMB*/
.filtros-bread-wrapp{
    font-size: 13px;
    padding: 2px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    color: $dark-gray;

    .filtro-bread{
        background-color: $gray;
        color: $white;
        padding: 2px 6px;
        display: inline-block;
        margin: 4px 1px;
        text-transform: capitalize;

        &:hover{
            background-color: $dark-gray;
            color: $white;
        }
    }

    .filtro-adicional{
        padding: 2px 6px;
        display: inline-block;
        margin: 4px 1px;
    }
}
/*BREADCRUMB*/

/*MODAL FILTER*/
.checkbox-filter-label{
    text-transform: capitalize;
}
/*MODAL FILTER*/

/*MODALES*/


.modal{
    color: #888
}

.tab-pane-inn{
    padding: 15px;
}

#modalBonoRentaJoven .nav-link{
    padding: 0.5rem 0.5rem;
    font-size: calc(11px + 0.5vw);
}

.lessee-row,.interested-chk-row{
    display: none;
}
/*MODALES*/

/*ACERCA DE NOSOTROS*/
.about-us-wrapper{

    h1,h2,h3{
        color: $primary-color;
    }
}
/*ACERCA DE NOSOTROS*/

/*PROPIEDADES*/
.jumbotron-propiedad{
    background-color: $primary-color;

    .jumbotron-property-img-wrapp{

        .jumnbotron-property-img{
            max-width: 100%;
            bottom: 0;
            left: 0;
        }
    }

    .jumbotron-property-description{

        .jumbotron-property-name{
            font-size: 20px;
            line-height: 19px;
        }
        .jumbotron-property-address{

        }
        .jumbotron-property-area, .jumbotron-property-rooms, .jumbotron-property-price{
            color: rgb(44, 94, 99);
        }
        .jumbotron-property-amount{
            font-size: 20px;
        }
        .jumbotron-property-btn{
            padding: 3px 15px;
        }
    }
}

/*DETALLE DE PROPIEDAD*/
.property-detail-wrapp{
    color: $dark-gray;

    .property-detail-title {
        color: $primary-color;
    }
    .property-detail-sub3{
        color: $primary-color;
    }

    .property-detail-row{

        .property-detail-characteristic{
            display: inline-block;
            font-weight: bold;
        }
        .property-detail-description{
            display: inline-block;
        }
    }

}
.property-detail-title-related{
    color: $primary-color;

}

/*RELACIONADOS*/
.media-related-card {
    background:#fff;
    position:relative;
    margin-bottom:15px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);

    .media-related-img{
        width:200px;
        margin:0;
        height:136px;
    }

    .media-body{
        border-left:0;
        height:136px;
        padding: 5px;
    }

    .price{
        float:left;
        width:100%;
        font-size:30px;
        font-weight:600;
        color:#4765AB;

        small{
            display:block;
            font-size: 13px;
            padding: 1px;
            color:$dark-gray;
        }
    }

    .stats{
        float:left;
        width:100%;
        margin-top:10px;

        span{
            float:left;
            margin-right:10px;
            font-size:15px;

            i{
                margin-right:7px;
                color:#4765AB;
            }
        }
    }

    .address{
        float:left;
        width:100%;
        font-size:14px;
        margin-top:5px;
        color:#888;
    }

    .fav-box{
        position: absolute;
        left: 10px;
        font-size: 20px;
        padding: 4px;
    }
    .map-box{background-color:#A3CCFF;}

}

/*END RELACIONADOS*/

/*DETALLE DE PROPIEDAD*/
/*END PROPIEDADES*/

/*PERFIL DE USUARIO*/
.profile-group {

    .profile-img-wrapp{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .profile-img{
            width: 150px;
            border-radius: 100%;
        }
    }

    .profile-title{
        color: $gray;
        font-size: 17px;
        margin-top: 15px;

        .edit-btn{
            font-size: 14px;
        }
    }

    .profile-field{
        background-color: $clear-gray;
        color: $dark-gray;
        margin: 5px;
        padding: 10px;
    }
}
/*PERFIL*/

/*APPLICATION*/
.application-status{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid $gray;

    .application-status-phase{
        width: calc(100% / 5);

        .asp-title{
            height: 50px;
        }

        .asp-indicator{
            position: relative;
            display: inline-block;
            background-color: $gray;
            color: $gray;
            border-radius: 100%;
            padding: 2px;
            width: 25px;
            height: 25px;

            .fa{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .phase-disapproved{
        .asp-indicator{
            background-color: $red;
            color: $red;

            .fa-times{
                color: $white;
                z-index: 2;
            }
        }
    }
    .phase-approved{
        .asp-indicator{
            background-color: $primary-color;
            color: $primary-color;

            .fa-check{
                color: $white;
                z-index: 2;
            }

        }
    }


}

/*APPLICATION*/

/*REPORTE MODAL*/

.banco-logo-reporte{
    width: 100px;
}
.yape-txt{
    font-weight: bold;
    color: rgb(116,34,132);
}
/*REPORTE MODAL*/
